<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="login">
  <h1>IRIS Flower Prediction</h1>
  <img src="https://miro.medium.com/max/1000/1*nfK3vGZkTa4GrO7yWpcS-Q.png" width ="500">
	
     <!-- Define a form to take input from user -->
        <form action="{{ url_for('predict')}}" method="post">
        <label for="SL">SL</label>
        <input type="text" name="sepal_length" required="required" />
        <label for="SW">SW</label>
        <input type="text" name="sepal_width" required="required" />
        <label for="PL">PL</label>
        <input type="text" name="petal_length" required="required" />
        <label for="PW">PW</label>
        <input type="text" name="petal_width" required="required" />
        <button type="submit">Predict</button>
    </form>

   <br>
   <H2>
   {{ OUTPUT }}
 </H2>
 </div>


</body>
</html>
